<p style='text-align: center; margin: 20px;'>Hey <%= @user.first_name %>!</p>

<p style='text-align: center; margin: 20px;'>Thank you for your interest in the Quick Favor Club. Unfortunately, we're not able to admit you at this time.</p>
<p style='text-align: center; margin: 20px;'>However, this does not mean that we won't have room for you in the future, and we would love to stay in touch!</p>

<p style='text-align: center; margin: 20px;'>If you have any questions or concerns, feel free to respond to this email.</p>

<p style='text-align: center; margin: 20px;'>Cheers,</p>

<p style='text-align: center; margin: 20px;'>The Quick Favor Team</p>
