<p style='text-align: center; margin: 20px;'>Hey <%= @user.first_name %>! &#128075;</p>

<p style='text-align: center; margin: 20px;'>Welcome to the Quick Favor Club!</p>

<p style='text-align: center; margin: 20px;'>Your account has been verified, and is now accessible via our website: <%= link_to "www.quickfavor.club", "https://quick-favor-club.herokuapp.com/users/sign_in" %>. Go ahead and sign in using your email and password. On our platform, you'll be able to request a favor, connect with members of our network, and invite friends to the club!</ul>

<h4 style='text-align: center; margin: 20px;'>To maintain order, we do have a few ground rules...</h4>

<ul>
  <li style='margin: 20px;'><strong>We value reciprocity</strong>: Please aim to complete favors for others - our network is only as powerful as your willingness to help &#127867;</li>
  <li style='margin: 20px;'><strong>We value your time</strong>: All favors should be quick to fulfill (no more than 5 minutes!) & do-able from a computer or mobile device.</li>
  <li style='margin: 20px;'><strong>We value privacy</strong>: No contact information will be shared beyond your LinkedIn account (should you choose to provide it). If you'd like an introduction, <%= link_to "contact us", "www.quick-favor-club.herokuapp.com/contact" %> and we'll connect you offline &#128521;</li>
  <li style='margin: 20px;'><strong>We <i>don't</i> value spam and &#129324;</strong>: Favor requests submitted online will automatically go out via email to all members. Ideally, wait a day after receiving a new request to submit one of your own.</li>
</ul>

<p style='text-align: center; margin: 20px;'>We're excited to have you as part of our community! If you have any questions or concerns, feel free to drop a note to this email.</p>

<p style='text-align: center; margin: 20px;'>Cheers,</p>

<p style='text-align: center; margin: 20px;'>The Quick Favor Team</p>
