.favor-container {
  padding: 16px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 4px #888888;
  position: relative;
}

.favor-container p {
  margin: 8px;
}

.favor-message {
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
}

.favor-profile {
  margin: 0 auto;
}

.favors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin: 12px;
  flex-grow: 1;
}

@media(max-width: 768px) {
  .favors {
    display: grid;
    grid-template-columns: 1fr;
  }
}
