<div class="banner">
  <h3 class="text-center mb-0 homeWelcome">WELCOME TO THE</h3>
  <div class="logoBanner">
    <img src="https://res.cloudinary.com/dy9chfa8l/image/upload/v1593245364/goldFullLogo_ezow7w.png" width="600px" class="logoHome">
  </div>
  <h5 class="my-1 text-center homeDesc">We’re a close community of passionate do’ers looking to help each other out with quick favors!</h5>

  <div class="center my-5">
    <div>
     <%= link_to "Login", new_user_session_path, class: "btn btn-primary btnHome" %>
     <%= link_to "Learn more", about_path, class: "btn btn-primary ml-1 btnHome"  %>
    </div>
  </div>

  <p class="mt-4 mb-1 text-center quote-tag"><i>“If we create networks with the sole intention of getting something, we won’t succeed. We can’t pursue the benefits of networks; the benefits ensue from investments in meaningful activities and relationships.”</i><br><br>Adam Grant, <i>Give and Take</i></p>
</div>
