<div class="banner">
  <h3 class="text-center mb-0 homeWelcome">WELCOME TO THE</h3>
  <div class="logoBanner">
    <img src="https://res.cloudinary.com/dy9chfa8l/image/upload/v1593245364/goldFullLogo_ezow7w.png" width="600px" class="logoHome">
  </div>
  <h5 class="my-1 text-center homeDesc">We’re a close community of passionate do’ers looking to help each other out with quick favors!</h5>

  <div class="center my-5">
    <%= link_to "Login", new_user_session_path, class: "btn btn-primary btnHome" %>
  </div>


  <div class="arrow text-center">
    <a href="#learn-more">
      <p>Learn More</p>
      <i class="fas fa-chevron-down mt-0"></i>
    </a>
  </div>
</div>
