<% if false %>
<% if @unhide_favornavbar == true %>
  <div class="bottom-navbar">
    <div class="addIcon my-3">
      <%= link_to new_user_favor_path(current_user) do %>
        <div class="btn btn-block btnAdd">
          <div class="btnText">Request a Favor</div>
          <div class="btn btn-block btnIcon">
            <i class="fas fa-plus fa-2x"></i>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<% end %>


<% if @unhide_referralnavbar == true && current_user.status == "verified" %>
  <div class="bottom-navbar">
    <div class="addIcon my-3">
      <%= link_to new_user_referral_path(current_user) do %>
        <div class="btn btn-block btnAdd">
          <div class="btnText">Invite a Friend</div>
          <div class="btn btn-block btnIcon">
            <i class="fas fa-plus fa-2x"></i>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if @unhide_joinnavbar == true %>
  <div class="bottom-navbar">
    <div class="addIcon my-3">
      <%= link_to join_path do %>
        <div class="btn btn-block btnAdd">
          <div class="btnText">Want to join us?</div>
          <div class="btn btn-block btnIcon">
            <i class="fas fa-plus fa-2x"></i>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
