<div class="container mt-5">

  <h3 class="text-center mb-0 homeWelcome">WELCOME TO THE</h3>
  <div class="logoBanner">
    <img src="https://res.cloudinary.com/dy9chfa8l/image/upload/v1593245364/blueFullLogo_lp2jk9.png" width="600px" class="logoHome">
  </div>

  <h4 class="mt-4 mb-3 text-center">About Us</h4>

  <p class="text-center mt-4 mx-3">
  We started the Quick Favor Club on the premise of Adam Grant's "five-minute favor", popularized in his bestselling book <%= link_to "Give and Take", "https://www.adamgrant.net/give-and-take" %>.
  The idea behind these <i>quick</i> favors is simple: we can all find ways of adding high value to others’ lives at a low personal cost.
  </p>

  <p class="text-center">
  Our network is an <strong>invite-only community of do'ers that believe in helping others <i>conveniently</i> but <i>impactfully</i></strong>.
  This philosophy and behavior is contagious, and by paying it forward, the return on a favor fulfilled could be exponential.
  </p>


  <h4 class="mt-5 mb-3 text-center">Ground Rules</h4>

  <ul>
    <li class="mb-2"><strong>We value reciprocity</strong>: Please aim to complete favors for others - our network is only as powerful as your willingness to help &#127867;</li>
    <li class="mb-2"><strong>We value your time</strong>: All favors should be quick to fulfill (no more than 5 minutes!) & do-able from a computer or mobile device.</li>
    <li class="mb-2"><strong>We value privacy</strong>: No contact information will be shared beyond your LinkedIn account (should you choose to provide it). <% if user_signed_in? %>
      If you'd like an introduction, <%= link_to "contact us", contact_path, class: "btn-contact" %> and we'll connect you offline &#128521;
      <% end %></li>
    <li class="mb-2"><strong>We <i>don't</i> value spam and &#129324;</strong>: Favor requests submitted online will automatically go out via email to all members. Ideally, wait a day after receiving a new request to submit one of your own.</li>
  </ul>
</div>
