<div class="container mt-5">

  <h3 class="text-center mb-0 homeWelcome">WELCOME TO THE</h3>
  <div class="logoBanner">
    <img src="https://res.cloudinary.com/dy9chfa8l/image/upload/v1593245364/blueFullLogo_lp2jk9.png" width="600px" class="logoHome">
  </div>
  <h5 class="my-1 text-center homeDesc">We’re a close community of passionate do’ers looking to help each other out with quick favors!</h5>

  <h4 class="mt-4 mb-3 text-center">Ground Rules</h4>

  <ul>
    <li>Reciprocation is a core value to us - please aim to complete favors for others &#127867;</li>
    <li>All favors should be quick to fulfill & do-able from a computer or mobile device</li>
    <li>To minimize spam and &#129324;, please wait one day after receiving a new request to submit one of your own</li>
    <li>No job listings &#128581;. You can, however, request introductions to potential candidates</li>
    <li>Lastly, to protect the privacy of our members, we do not share contact info beyond your LinkedIn (should you choose to provide it). <% if user_signed_in? %>
      If you'd like an introduction, shoot us a message <%= link_to "here", contact_path %>, and we'll connect you offline &#128521;
      <% end %></li>
  </ul>
</div>
