<div class="container">

  <h3 class="mb-4 text-center">Join Us</h3>

  <p class="text-center mx-2">The Quick Favor Club is an invite-only network - we rely on our existing members to bring in new members who will embrace and contribute to the spirit of the collective.</p>

  <p class="text-center mx-2">That being said, if you are keen to join, but don't currently have contacts within our community, we'd love to get to know you!</p>

  <p class="text-center mx-2"><%= link_to "Contact us", contact_path, class: "btn-contact" %> and we'll reach out for a chat. &#128522;</p>

</div>
