.banner {
  width: 100vw;
  height: 100vh;
  margin-top: 0px;
  padding-top: 200px;
  padding-left: 5%;
  padding-right: 5%;
  background-image: linear-gradient(to bottom, #507A8C, #D5E6EE);
  //background-image: linear-gradient(
  //        rgba(0, 0, 0, 0.5),
  //        rgba(0, 0, 0, 0.5)
  //      ),url("https://images.unsplash.com/photo-1488229297570-58520851e868?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2849&q=80");
  background-position: center;
}

.banner h1,
.banner h2,
.banner h3,
.banner h4,
.banner h5,
.banner h6 {
  color: $white;
}

.homeWelcome {
  letter-spacing: 6px;
}

.homeDesc {
  letter-spacing: 2px;
  margin-left: 10%;
  margin-right: 10%;
}

.quote-tag {
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background: #E8E8E8;
  opacity: .9;
  color: #24404F;
  padding: 20px;
  border-radius: 20px;
}

.logoHome {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.arrow {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.arrow p {
  font-size: 20px;
  margin-bottom: 36px;
}

.fa-chevron-down {
  animation: bounce 2s infinite;
}

a:hover {
  text-decoration: none;
}

@media(max-width: 768px) {
  .logoHome {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }

  .quote-tag {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  }

  .homeDesc {
    margin-left: 0;
    margin-right: 0;
  }
}
