.btn {
  background-color: #24404F;
  color: white;
  border-radius: 50px;
  box-shadow: 0 0 2px rgba(0,0,0,1);
  // font-weight: bold;
  //border-style: solid;
  //border-width: 10px;
  //border-color: #FACD93;
}

.btn-primary {
  background-color: #24404F;
  color: #D5E6EE;
  border-radius: 50px;
  box-shadow: 0 0 2px rgba(0,0,0,1);
  // font-weight: bold;
  //border-style: solid 2px;
  //border-color: #FACD93;
}

.btn-primary:hover {
  background-color: #24404F;
  opacity: 98%;
  color: white;
  //border-style: solid 2px;
  //border-color: #FACD93;
}

.nav-link-button {
  background-color: #507A8C;
  color: #D5E6EE;
  border-radius: 50px;
  box-shadow: 0 0 2px rgba(0,0,0,1);
  margin-top: 10px;
  padding: 8px 16px;
  float: right;
}

.nav-link-button:hover {
  opacity: 98%;
  color: white;
}

.btn-see {
  color: #24404F;
  margin: auto;
  display: block;
  text-align: center;
  font-size: 14px;
  text-decoration: underline;
}

.btn-see:hover {
  color: #507A8C;
  text-decoration: underline;
}

.btn-contact {
  background-color: #507A8C;
  color: #D5E6EE;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0,0,0,1);
  padding: 1px 6px;
}

.btn-contact:hover {
  color: white;
}

.btn-dropdown {
  border-radius: 4px;
  padding: 8px;
  background-color: #D5E6EE;
  color: #507A8C;
  border-color: #ced4da;
}

.btnHome {
  background-color: #24404F;
  color: #FACD93;
  border-radius: 50px;
  box-shadow: 0 0 2px rgba(0,0,0,1);
  // border-style: solid;
  // border-width: 2px;
  // border-color: #FACD93;
  width: 128px;
  margin-left: 8px;
  margin-right: 8px;
}

.btnHome:hover {
  opacity: 98%;
  color: #D5E6EE;
}

.btnHomeLight {
  background-color: #FACD93;
  color: #24404F;
  border-radius: 50px;
  box-shadow: 0 0 2px rgba(0,0,0,1);
  // border-style: solid;
  // border-width: 2px;
  // border-color: #FACD93;
  width: 128px;
  margin-left: 8px;
  margin-right: 8px;
  opacity: 95%;
}

.btnHomeLight:hover {
  opacity: 100%;
  background-color: #FACD93;
  color: #24404F;
}

.btnAdd {
  background-color: #507A8C;
  color: #D5E6EE;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  text-align: left;
  padding: 0px;
  position: relative;
  border-style: none;
  box-shadow: 0px 0px 2px #24404F;
  //border-width: 3px;
  //border-color: #FACD93;
}

.btnText {
  position: absolute;
  font-weight: normal;
  padding-left: 60px;
  top: 50%;
  transform: translate(0%, -50%);
}

.btnIcon {
  background-color: #24404F;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  left: -3px;
  z-index: 2;
  // border-style: solid;
  // border-width: 3px;
  // border-color: #507A8C;
}

.fa-plus, .fa-2x {
  position: absolute;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #507A8C;
}

.btnAdd:hover, .btnIcon:hover {
  color: white;
  opacity: 98%;
}

a {
  color: #24404F;
}

a:hover {
  text-decoration: none;
  color: #507A8C;
}
