.logoHome {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.topLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
}
