.navbar-QFC {
  justify-content: space-between;
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  // box-shadow: 0 0 2px #888888;
  z-index: 9999;
}

.navbar-QFC .navbar-collapse {
  flex-grow: 0;
  background-color: white;
  position: relative;
  bottom: 60px;

}

.navbar-QFC .navbar-brand img {
  width: 40px;
}

.bottom-navbar {
  justify-content: space-between;
  display: block;
  background: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 16px;
  box-shadow: 0 0 2px #888888;
  z-index: 9999;
}

.addIcon {
  position: absolute;
  left: 20px;
  bottom: 5px;
}

.navbar {
  // background-color: rgba(255,0,0,0.05);
  background-color: none;
  border: none;
}

.navbarContainer {
  justify-content: space-between;
  display: block;
  background: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 16px;
  box-shadow: 0 0 2px #888888;
  z-index: 9999;
}

.navbar-toggler {
  background-color: #24404F;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border-style: solid;
  border-weight: 2px;
  position: absolute;
  bottom: 5px;
  right: 20px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(80, 122, 140)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.custom-toggler.navbar-toggler {
  border-color: rgb(80, 122, 140);
}

.navbar-toggler:focus {
  outline: 0;
}
